workflows/n8n/assistant-automation.json
{
  "name": "assistant-automation",
  "active": true,
  "id": "FFabQKLkJ61EF3c7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        260
      ],
      "webhookId": "assistant-automation"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst message = String(payload.message ?? '').trim();\nconst parts = Object.fromEntries(new Intl.DateTimeFormat('sv-SE', { timeZone: 'Asia/Seoul', year: 'numeric', month: '2-digit', day: '2-digit' }).formatToParts(new Date()).filter((part) => part.type !== 'literal').map((part) => [part.type, part.value]));\nconst dateLabel = `${parts.year}-${parts.month}-${parts.day}`;\nreturn [{ json: { message, channel: String(payload.channel ?? 'unknown'), session_id: payload.session_id ?? null, user_id: payload.user_id ?? null, timezone: 'Asia/Seoul', timeMin: `${dateLabel}T00:00:00+09:00`, timeMax: `${dateLabel}T23:59:59+09:00` } }];"
      },
      "id": "normalize-node",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "mode": "list",
          "value": "primary"
        },
        "returnAll": false,
        "limit": 20,
        "timeMin": "={{ $json.timeMin }}",
        "timeMax": "={{ $json.timeMax }}",
        "options": {
          "singleEvents": true,
          "orderBy": "startTime",
          "timeZone": {
            "mode": "id",
            "value": "Asia/Seoul"
          }
        }
      },
      "id": "calendar-node",
      "name": "Get Today Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        820,
        260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ICwN7bJllVyejRa7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all().map((item) => item.json).filter((event) => event && (event.summary || event.start || event.id));\nconst formatTime = (value) => new Intl.DateTimeFormat('ko-KR', { timeZone: 'Asia/Seoul', hour: '2-digit', minute: '2-digit', hour12: false }).format(new Date(value));\nif (!events.length) {\n  return [{ json: { reply: '오늘 등록된 일정이 없습니다.', action: 'calendar-summary', count: 0 } }];\n}\nconst lines = events.slice(0, 5).map((event) => {\n  const title = event.summary || '제목 없는 일정';\n  const allDay = Boolean(event.start?.date) && !event.start?.dateTime;\n  if (allDay) {\n    return `종일 ${title}`;\n  }\n  const start = event.start?.dateTime ? formatTime(event.start.dateTime) : '';\n  const end = event.end?.dateTime ? formatTime(event.end.dateTime) : '';\n  return end ? `${start}-${end} ${title}` : `${start} ${title}`;\n});\nconst extra = events.length > 5 ? ` 외 ${events.length - 5}건` : '';\nreturn [{ json: { reply: `오늘 일정은 ${lines.join(', ')}${extra}입니다.`, action: 'calendar-summary', count: events.length } }];"
      },
      "id": "summary-node",
      "name": "Summarize Calendar Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1340,
        260
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Get Today Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Calendar Events": {
      "main": [
        [
          {
            "node": "Summarize Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Calendar Events": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "versionId": "acb30845-7f3a-4ef6-b0b4-calendar-live-001",
  "tags": []
}