workflows/n8n/assistant-gmail-send.json
{
  "name": "assistant-gmail-send",
  "active": true,
  "id": "HkD3r2nqa1GmailSend01",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant-gmail-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gmail-send-webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 260],
      "webhookId": "assistant-gmail-send"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nif (!payload.send_to || !payload.subject || !payload.message) {\n  return [{ json: { reply: '메일 발송 payload가 올바르지 않습니다.', action: 'gmail-send-error' } }];\n}\nreturn [{ json: { send_to: String(payload.send_to), subject: String(payload.subject), message: String(payload.message), email_type: String(payload.email_type ?? 'text'), cc_list: String(payload.cc_list ?? ''), bcc_list: String(payload.bcc_list ?? '') } }];"
      },
      "id": "normalize-gmail-send-node",
      "name": "Normalize Send Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 260]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.send_to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "={{ $json.email_type }}",
        "message": "={{ $json.message }}",
        "options": {
          "ccList": "={{ $json.cc_list }}",
          "bccList": "={{ $json.bcc_list }}"
        }
      },
      "id": "send-gmail-message-node",
      "name": "Send Gmail Message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [820, 260],
      "credentials": {
        "gmailOAuth2": {
          "id": "uwgSMn8aAz0uOjq6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Send Request').first().json;\nconst sent = $json;\nconst reply = `${request.send_to}로 메일을 발송했습니다. 제목은 '${request.subject}' 입니다.`;\nreturn [{ json: { reply, action: 'gmail-send', message_id: String(sent.id ?? '') } }];"
      },
      "id": "gmail-send-summary-node",
      "name": "Summarize Send Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "gmail-send-respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1340, 260]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize Send Request", "type": "main", "index": 0 }]] },
    "Normalize Send Request": { "main": [[{ "node": "Send Gmail Message", "type": "main", "index": 0 }]] },
    "Send Gmail Message": { "main": [[{ "node": "Summarize Send Result", "type": "main", "index": 0 }]] },
    "Summarize Send Result": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "pinData": {},
  "versionId": "gmail-send-live-001",
  "tags": []
}