workflows/n8n/assistant-gmail-draft.json
{
  "name": "assistant-gmail-draft",
  "active": true,
  "id": "HkD3r2nqa1GmailDraft01",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant-gmail-draft",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gmail-draft-webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 260],
      "webhookId": "assistant-gmail-draft"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nif (!payload.send_to || !payload.subject || !payload.message) {\n  return [{ json: { reply: '메일 초안 payload가 올바르지 않습니다.', action: 'gmail-draft-error' } }];\n}\nreturn [{ json: { send_to: String(payload.send_to), subject: String(payload.subject), message: String(payload.message), email_type: String(payload.email_type ?? 'text'), cc_list: String(payload.cc_list ?? ''), bcc_list: String(payload.bcc_list ?? ''), attachment_url: String(payload.attachment_url ?? '') } }];"
      },
      "id": "normalize-gmail-draft-node",
      "name": "Normalize Draft Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gmail-draft-attachment-check",
              "leftValue": "={{ $json.attachment_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gmail-draft-attachment-node",
      "name": "Attachment URL Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, 260]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "draft",
        "operation": "create",
        "subject": "={{ $json.subject }}",
        "emailType": "={{ $json.email_type }}",
        "message": "={{ $json.message }}",
        "options": {
          "sendTo": "={{ $json.send_to }}",
          "ccList": "={{ $json.cc_list }}",
          "bccList": "={{ $json.bcc_list }}"
        }
      },
      "id": "create-gmail-draft-node",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1060, 160],
      "credentials": {
        "gmailOAuth2": {
          "id": "SC8Elz0TBVcb0MK2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.attachment_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "download-draft-attachment-node",
      "name": "Download Draft Attachment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 360]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "build-draft-attachment-item-node",
      "name": "Merge Draft Attachment Item",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1300, 360]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "draft",
        "operation": "create",
        "subject": "={{ $json.subject }}",
        "emailType": "={{ $json.email_type }}",
        "message": "={{ $json.message }}",
        "options": {
          "sendTo": "={{ $json.send_to }}",
          "ccList": "={{ $json.cc_list }}",
          "bccList": "={{ $json.bcc_list }}",
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      },
      "id": "create-gmail-draft-with-attachment-node",
      "name": "Create Gmail Draft With Attachment",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1540, 360],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "SC8Elz0TBVcb0MK2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Draft Request').first().json;\nconst draft = $json;\nconst attachmentText = request.attachment_url ? ' 첨부파일 URL도 포함했습니다.' : '';\nconst reply = `${request.send_to} 수신 메일 초안을 작성했습니다. 제목은 '${request.subject}' 입니다.${attachmentText}`;\nreturn [{ json: { reply, action: 'gmail-draft', draft_id: String(draft.id ?? '') } }];"
      },
      "id": "gmail-draft-summary-node",
      "name": "Summarize Draft Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "gmail-draft-respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2040, 260]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize Draft Request", "type": "main", "index": 0 }]] },
    "Normalize Draft Request": {
      "main": [
        [{ "node": "Attachment URL Exists?", "type": "main", "index": 0 }, { "node": "Merge Draft Attachment Item", "type": "main", "index": 1 }]
      ]
    },
    "Attachment URL Exists?": {
      "main": [
        [{ "node": "Download Draft Attachment", "type": "main", "index": 0 }],
        [{ "node": "Create Gmail Draft", "type": "main", "index": 0 }]
      ]
    },
    "Create Gmail Draft": { "main": [[{ "node": "Summarize Draft Result", "type": "main", "index": 0 }]] },
    "Download Draft Attachment": { "main": [[{ "node": "Merge Draft Attachment Item", "type": "main", "index": 0 }]] },
    "Merge Draft Attachment Item": { "main": [[{ "node": "Create Gmail Draft With Attachment", "type": "main", "index": 0 }]] },
    "Create Gmail Draft With Attachment": { "main": [[{ "node": "Summarize Draft Result", "type": "main", "index": 0 }]] },
    "Summarize Draft Result": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "pinData": {},
  "versionId": "gmail-draft-live-002",
  "tags": []
}