workflows/n8n/assistant-gmail-reply.json
{
  "name": "assistant-gmail-reply",
  "active": true,
  "id": "HkD3r2nqa1GmailReply01",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant-gmail-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "gmail-reply-webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 320],
      "webhookId": "assistant-gmail-reply"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nif (!payload.message) {\n  return [{ json: { reply: '메일 회신 payload가 올바르지 않습니다.', action: 'gmail-reply-error' } }];\n}\nconst searchQuery = String(payload.search_query ?? '').trim();\nreturn [{ json: { reply_mode: String(payload.reply_mode ?? 'reply'), message: String(payload.message), email_type: String(payload.email_type ?? 'text'), thread_id: String(payload.thread_id ?? ''), message_id: String(payload.message_id ?? ''), subject: String(payload.subject ?? ''), sender: String(payload.sender ?? ''), search_query: searchQuery, cc_list: String(payload.cc_list ?? ''), bcc_list: String(payload.bcc_list ?? ''), direct_target: Boolean(payload.thread_id && payload.message_id), reply_to_sender_only: String(payload.reply_mode ?? 'reply') !== 'thread' } }];"
      },
      "id": "normalize-gmail-reply-node",
      "name": "Normalize Reply Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gmail-direct-target-check",
              "leftValue": "={{ $json.direct_target }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gmail-direct-target-node",
      "name": "Direct Target?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [780, 320]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, resolved_thread_id: $json.thread_id, resolved_message_id: $json.message_id } }];"
      },
      "id": "use-direct-target-node",
      "name": "Use Direct Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 5,
        "simple": false,
        "filters": {
          "q": "={{ $('Normalize Reply Request').first().json.search_query }}"
        }
      },
      "id": "search-gmail-messages-node",
      "name": "Search Gmail Messages",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1040, 440],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "uwgSMn8aAz0uOjq6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Reply Request').first().json;\nconst messages = $input.all().map((item) => item.json).filter((mail) => mail && (mail.id || mail.threadId));\nif (!messages.length) {\n  return [{ json: { ...request, resolved_thread_id: '', resolved_message_id: '' } }];\n}\nconst target = messages[0];\nreturn [{ json: { ...request, resolved_thread_id: String(target.threadId || request.thread_id || ''), resolved_message_id: String(target.id || request.message_id || ''), matched_subject: String(target.subject || request.subject || ''), matched_sender: String(target.from?.text || request.sender || '') } }];"
      },
      "id": "build-reply-target-node",
      "name": "Build Reply Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gmail-reply-target-check",
              "leftValue": "={{ $json.resolved_message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "reply-target-exists-node",
      "name": "Reply Target Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 320]
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.resolved_thread_id }}",
        "messageId": "={{ $json.resolved_message_id }}",
        "emailType": "={{ $json.email_type }}",
        "message": "={{ $json.message }}",
        "options": {
          "ccList": "={{ $json.cc_list }}",
          "bccList": "={{ $json.bcc_list }}",
          "replyToSenderOnly": "={{ $json.reply_to_sender_only }}"
        }
      },
      "id": "reply-to-thread-node",
      "name": "Reply To Gmail Thread",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1820, 220],
      "credentials": {
        "gmailOAuth2": {
          "id": "uwgSMn8aAz0uOjq6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Reply Target Exists?').first().json;\nconst replyModeLabel = request.reply_mode === 'thread' ? 'thread 이어쓰기' : '메일 회신';\nconst targetLabel = request.subject || request.matched_subject || request.sender || request.matched_sender || request.resolved_thread_id || request.resolved_message_id;\nreturn [{ json: { reply: `${replyModeLabel}을 실행했습니다. 대상은 '${targetLabel}' 입니다.`, action: 'gmail-reply', thread_id: String($json.threadId || request.resolved_thread_id || ''), message_id: String($json.id || request.resolved_message_id || '') } }];"
      },
      "id": "summarize-reply-node",
      "name": "Summarize Reply Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 220]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Reply Request').first().json;\nconst targetLabel = request.subject || request.sender || request.thread_id || request.message_id || '지정한 메일';\nreturn [{ json: { reply: `${targetLabel}에 대한 회신 대상을 찾지 못했습니다. 제목이나 thread id를 더 구체적으로 알려주세요.`, action: 'gmail-reply-not-found' } }];"
      },
      "id": "reply-not-found-node",
      "name": "Build Reply Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "gmail-reply-respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2340, 320]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize Reply Request", "type": "main", "index": 0 }]] },
    "Normalize Reply Request": { "main": [[{ "node": "Direct Target?", "type": "main", "index": 0 }]] },
    "Direct Target?": {
      "main": [
        [{ "node": "Use Direct Target", "type": "main", "index": 0 }],
        [{ "node": "Search Gmail Messages", "type": "main", "index": 0 }]
      ]
    },
    "Use Direct Target": { "main": [[{ "node": "Reply Target Exists?", "type": "main", "index": 0 }]] },
    "Search Gmail Messages": { "main": [[{ "node": "Build Reply Target", "type": "main", "index": 0 }]] },
    "Build Reply Target": { "main": [[{ "node": "Reply Target Exists?", "type": "main", "index": 0 }]] },
    "Reply Target Exists?": {
      "main": [
        [{ "node": "Reply To Gmail Thread", "type": "main", "index": 0 }],
        [{ "node": "Build Reply Not Found", "type": "main", "index": 0 }]
      ]
    },
    "Reply To Gmail Thread": { "main": [[{ "node": "Summarize Reply Result", "type": "main", "index": 0 }]] },
    "Summarize Reply Result": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Build Reply Not Found": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": {},
  "pinData": {},
  "versionId": "gmail-reply-live-001",
  "tags": []
}