workflows/n8n/assistant-gmail-summary.json
{
  "name": "assistant-gmail-summary",
  "active": true,
  "id": "HkD3r2nqa1Gmail01",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant-gmail-summary",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "gmail-webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 260],
      "webhookId": "assistant-gmail-summary"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": "={{ Number(($json.body?.limit ?? $json.limit ?? 10)) > 0 ? Math.min(Number($json.body?.limit ?? $json.limit ?? 10), 30) : 10 }}",
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "={{ String($json.body?.searchQuery ?? $json.searchQuery ?? 'newer_than:7d') }}"
        }
      },
      "id": "gmail-fetch-node",
      "name": "Get Recent Gmail Messages",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [560, 260],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "uwgSMn8aAz0uOjq6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Webhook').first().json.body ?? $('Webhook').first().json;\nconst messages = $input.all().map((item) => item.json).filter((mail) => mail && (mail.id || mail.payload || mail.snippet));\nconst requestedLimit = Number(payload.limit ?? 10);\nconst limit = Number.isFinite(requestedLimit) && requestedLimit > 0 ? Math.min(requestedLimit, 30) : 10;\nconst groupByDate = String(payload.groupByDate ?? '').toLowerCase() === 'true';\n\nif (!messages.length) {\n  return [{ json: { reply: '조회 조건에 맞는 메일이 없습니다.', action: 'gmail-list', count: 0, hasMore: false, nextCursor: null, groupByDate, items: [] } }];\n}\n\nconst readHeader = (headers, key) => {\n  if (!Array.isArray(headers)) return '';\n  const matched = headers.find((header) => String(header.name || '').toLowerCase() === key.toLowerCase());\n  return matched?.value || '';\n};\n\nconst parseDate = (rawDate, fallbackInternalDate) => {\n  if (rawDate) {\n    const parsed = new Date(rawDate);\n    if (!Number.isNaN(parsed.getTime())) {\n      return parsed;\n    }\n  }\n  if (fallbackInternalDate) {\n    const parsed = new Date(Number(fallbackInternalDate));\n    if (!Number.isNaN(parsed.getTime())) {\n      return parsed;\n    }\n  }\n  return null;\n};\n\nconst formatDateLabel = (date) => {\n  if (!date) return '날짜 미상';\n  return new Intl.DateTimeFormat('ko-KR', { year: 'numeric', month: '2-digit', day: '2-digit', weekday: 'short' }).format(date);\n};\n\nconst items = messages.slice(0, limit).map((mail, index) => {\n  const headers = mail.payload?.headers || [];\n  const subject = mail.subject || readHeader(headers, 'Subject') || mail.snippet || '제목 없음';\n  const sender = mail.from?.text || readHeader(headers, 'From') || '발신자 미상';\n  const snippet = String(mail.snippet || '').substring(0, 160);\n  const dateRaw = readHeader(headers, 'Date');\n  const parsedDate = parseDate(dateRaw, mail.internalDate);\n  const internalDate = mail.internalDate ? String(mail.internalDate) : (parsedDate ? String(parsedDate.getTime()) : '');\n  const date = parsedDate ? parsedDate.toISOString() : dateRaw;\n  const dateLabel = formatDateLabel(parsedDate);\n  const unread = Array.isArray(mail.labelIds) ? mail.labelIds.includes('UNREAD') : false;\n  const hasAttachments = String(mail.payload?.mimeType || '').includes('multipart');\n\n  return {\n    index: index + 1,\n    messageId: String(mail.id || ''),\n    threadId: String(mail.threadId || ''),\n    sender,\n    subject,\n    snippet,\n    date,\n    dateLabel,\n    internalDate,\n    unread,\n    hasAttachments,\n  };\n});\n\nconst grouped = {};\nif (groupByDate) {\n  for (const item of items) {\n    const key = item.dateLabel || '날짜 미상';\n    if (!grouped[key]) grouped[key] = [];\n    grouped[key].push(item);\n  }\n}\n\nconst lines = [];\nif (groupByDate) {\n  Object.entries(grouped).forEach(([label, list]) => {\n    lines.push(`📅 ${label}`);\n    list.forEach((mail) => lines.push(`${mail.index}. ${mail.sender} - ${mail.subject}`));\n    lines.push('');\n  });\n} else {\n  items.forEach((mail) => lines.push(`${mail.index}. ${mail.sender} - ${mail.subject}`));\n}\n\nconst hasMore = messages.length > items.length;\nconst nextCursor = hasMore ? String(items[items.length - 1]?.internalDate || '') : null;\n\nreturn [{\n  json: {\n    reply: `최근 메일 목록입니다.\\n${lines.join('\\n').trim()}`,\n    action: 'gmail-list',\n    count: messages.length,\n    shownCount: items.length,\n    hasMore,\n    nextCursor,\n    groupByDate,\n    items,\n  },\n}];"
      },
      "id": "gmail-summary-node",
      "name": "Summarize Gmail Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "gmail-respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1160, 260]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Recent Gmail Messages", "type": "main", "index": 0 }]] },
    "Get Recent Gmail Messages": { "main": [[{ "node": "Summarize Gmail Messages", "type": "main", "index": 0 }]] },
    "Summarize Gmail Messages": { "main": [] }
  },
  "settings": {},
  "pinData": {},
  "versionId": "gmail-summary-live-002",
  "tags": []
}